* {
  margin: 0;
  padding: 0;
}

.Showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
}

.ShowcaseOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ShowcaseHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
}

.ShowcaseFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 999;
}

.ShowcaseHome {
  margin-top: 20%;
  margin-left: 20%;
  width: 400px;
  position: relative;
  z-index: 10;
  color: white;
  text-shadow: grey 0.1em 0.1em 0.2em;
}

.ShowcaseRegister {
  margin-top: 20%;
  margin-left: 20%;
  width: 400px;
  position: relative;
  z-index: 11;
  color: white;
  text-shadow: grey 0.1em 0.1em 0.2em;
}

.Showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app-container h1 {
  color: var(--green);
  padding: 1rem;
}

.loginSpecialImage {
  display: flex;
  position: fixed;
  width: 100px;
  height: 100px;
  right: 0;
  bottom: 150px;
}

.loginSpecialText {
  display: none;
}

.loginSpecialImage:hover ~ .loginSpecialText {
  display: flex;
  position: fixed;
  color: white;
  width: 150px;
  right: 100px;
  bottom: 125px;
}
