.MyOrdersContainer {
    background-color: white;
    text-align: center;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0.9;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    margin-top: 200px;
    margin-left: 20%;
    width: 60%;
    height: 35rem;
    z-index: 650;
}

.MyOrdersHeader {
    color: grey;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: lightgray 0.1em 0.1em 0.2em;
    text-align: center;
}

.MyOrdersContainerLeft {
    background-color: lightgray;
    text-align: center;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0.9;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    margin-left: 3%;
    margin-top: 1.5%;
    width: 30%;
    height: 30rem;
    z-index: 650;
}

.MyOrdersPic {
    width: 200px;
    height: 300px;
}

.MyOrdersContainerRight {
    position: absolute;
    background-color: lightgray;
    text-align: center;
    font-size: 30px;
    padding: 2rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0.9;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    margin-left: 40%;
    bottom: 1rem;
    width: 55%;
    height: 30rem;
    z-index: 650;
    overflow: scroll;
    overflow-x: hidden;
}

.MyOrdersContainerRight::-webkit-scrollbar {
    width: 10px;
}

.MyOrdersContainerRight::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

.SingleOrderContainer {
    background-color: white;
    text-align: center;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0.9;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    margin-left: 3%;
    margin-top: 1.5%;
    width: 33.5rem;
    height: 10rem;
    z-index: 700;
    overflow: scroll;
}

.SingleOrderContainer::-webkit-scrollbar {
    width: 10px;
}

.SingleOrderContainer::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

.OrderDetails {
    position: absolute;
    right: 3.5rem;
    margin-top: 1rem;
    z-index: 800;
    
}

.ProductContainer {
    background-color: lightgray;
    text-align: center;
    /* padding: .75rem; */
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0.9;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    margin-left: 1%;
    margin-top: 1.5%;
    width: 20rem;
    height: 8.5rem;
    z-index: 700;
}

.ProductImages {
    width: 180px;
    height: 120px;
    margin-top: 0.5rem;
    margin-right: 8rem;
}

.ProductInfo {
    position: relative;
    font-size: 20px;
    margin-left: 11.5rem;
    bottom: 7.5rem;
}

.ProductText {
    padding: 0.4rem;
}

.OrderDetailsInfo {
    font-size: 15px;
    padding: 0.3rem;
}